body{
    margin: 0px;
}

/* Body header */

#body-header{
    height: 65vh;
    opacity: 0.8;
    background-image: url(Assets/Header/macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 1.2rem;
}

/* Horizontal List */

.horizontal-list{
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

.horizontal-list li{
    display: inline-block;
    margin: 0px 8px 8px 0px;
    font-weight: 300;
    font-size: 1.2rem;
}

.horizontal-list li a{
    color: white;
    text-decoration: none;
}

.nav-menu li a{
    transition: color 0.5s, border-bottom 4s;
}

.nav-menu li a:hover{
    color: lightgray;
    border-bottom: 1px solid white;
}

/* Name and social icons */

#name-social-container{
    margin-top: 20vh;
}

#my-name{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.social-icons li a i{
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 50%;
}

.social-icons li a i:hover{
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}

/* Sections */

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:nth-child(2n){
    background-color: #9e9b9b29;
}

section:nth-child(2n+1){
    background-color: white;
}

.section-heading{
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}

.section-heading span{
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}

/* About section */

#about{
    height: auto;
    width: 100%;
    position: relative;
}

#my-image{
    height: 12rem;
    width: 12rem;
    margin: auto;
    margin-top: -14vh;
}

#my-image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 1px 1px 10px 2px lightgrey;
}

#about-para {
    padding: 10px;
    width: 70%;
    text-align: justify;
    color: grey;
    line-height: 28px;
    font-size: 1.1rem;
    margin: auto;
}

/* Skills section */

.skills-display{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill-progress{
    width: 7rem;
    height: 1.4rem;
    background-color: lightgray;
    border-radius: 0.8rem;
}

.skill-name span{
    color: white;
    font-size: 1rem;
    margin-left: 10px;
}

.skill-progress > div{
    border-radius: 20px 0px 0px 20px;
}

/* Timeline */

.timeline{
    position: relative;
    width: 75%;
    border: 2px solid black;
}

.timeline-box{
    position: relative;
    margin: 5px;
    width: 40%;
    left: 5%;
    min-height: 150px;
    border: 2px solid black;
}

.timeline-box:nth-child(2n){
    left: 53%;
}

/* Common margin classes */

.mb75px{
    margin-bottom: 75px;
}

/* Common classes  */

.text-center{
    text-align: center;
}

.mb-blue{
    background-color: #2857a4;
}

/* Percentage classes */
.eighty-five-percent{
    width: 85%;
    height: inherit;
}
